# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: Silicon Laboratories Inc. https://www.silabs.com
[submodule "z-wave-blobs"]
	path = z-wave-blobs
	url = git@github.com:Z-Wave-Alliance/z-wave-blobs.git
