# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: Silicon Laboratories Inc. https://www.silabs.com
# SPDX-FileCopyrightText: Z-Wave-Alliance https://z-wavealliance.org

[submodule "z-wave-blobs"]
	path = z-wave-blobs
	url = ../z-wave-blobs.git
